.quiz {
    flex-direction: column;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    display: none;
    &.active {
        opacity: 1;
        pointer-events: all;
        display: flex;
        & .quiz__header {
            opacity: 1;
        }
        & .quiz__footer {
            opacity: 1;
        }
    }
    &__header {
        border-bottom: solid 1px var(--color-bg-2,rgba(0,0,0,.1));
        opacity: 0;
        transition: 0.2s ease-out;
        &.hidden {
            display: none;
        }
    }
    &__list-blocks {
        flex: 1 0 auto;
        overflow: hidden;
        &.hidden {
            display: none;
        }
    }
    &__content {
        padding-top: 20px;
        padding-bottom: 20px;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 0;
        &.active {
            position: static;
            opacity: 1;
            pointer-events: all;
            & .quiz__title {
                animation: quizTitle 0.4s ease-in-out forwards;
            }
            & .quiz__tag-list {
                animation: quizTitle 0.4s ease-in-out forwards;
            }
            & .quiz__list-item {
                animation: quizTitle 0.2s ease-in-out forwards 0.2s;
            }
            & .quiz__list {
                animation: quizTitle 0.4s ease-in-out forwards;
            }
        }
    }

    &__block {
    }

    &__title {
        font-size: 32px;
        line-height: 35px;
        transform: translate(-50px,0);
        opacity: 0;
        @media (max-width: 767px) {
            font-size: 23px;
            line-height: 25px;
        }
    }
    &__header-title {
        padding: 33px 15px;
        display: block;
        @media (max-width: 767px) {
            padding: 15px 15px;
        }
    }

    &__tag-list {
        margin-top: 10px;
        display: flex;
        gap: 5px;
        transform: translate(-50px,0);
        opacity: 0;
    }

    &__tag {
        display: flex;
        font-size: 11px;
        padding: 6px 8px;
        border-radius: 4px;
        color: var(--color-bg-text,#4a4a4a);
        background: var(--color-bg-1,#f7f7f7);
        border: solid 1px var(--color-bg-2,#e5e5e5);
        width: fit-content;
        align-items: center;
        justify-content: center;
        gap: 3px;
        &_skip {

        }
        &_select {
            border: 1px solid #d34085;
            background:rgba(211, 64, 133, 0.2);
            & svg {
                width: 16px;
                height: 16px;
                fill: #d34085;
            }
        }
    }
    &__can-skip {
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-top: 15px;
        transform: translate(-50px,0);
        opacity: 0;
    }

    &__list-item {
        transform: translate(-50px,0);
        opacity: 0;
        flex: 0 0 calc(50% - 8px);
        @media (max-width: 767px) {
            flex: 0 0 100%;
        }
        &_input {
            border-radius: 5px;
            // border: 0.7px solid #e8e8e8;
            display: flex;

            & .custom-w {
                position: static;
                width: 51px;
                & span {
                    &::after {
                        z-index: 4;
                        // border: none;
                        // box-shadow: none;
                    }
                }
                input:checked~span::after {
                    // border: none;
                    // box-shadow: none;
                }
            }
            & .field {
                flex: 1;
                & input {
                    background: #f7f7f7;
                    height: 100%;
                    width: 100%;
                    padding: 10px 10px;
                    z-index: 5;
                    position: relative;
                    border-radius: 4px;
                    border: 0.7px solid #e8e8e8;
                    &:hover {
                        box-shadow: 0 1px 3px 0 var(--color-bg-2,rgba(0,0,0,.1));
                    }
                    &.checked {
                        box-shadow: none;
                        border: solid 1px rgba(211,64,130,.5);
                    }
                }
            }
        }
    }

    &__footer {
        border-top: solid 1px var(--color-bg-2,rgba(0,0,0,.1));
        padding: 26px 0 30px 0;
        flex: 0 0 auto;
        opacity: 0;
        transition: 0.2s ease-out;
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        background: #fff;
        z-index: 6;
        &.hidden {
            display: none;
        }
    }

    &__footer-content {
        display: flex;
        align-items: center;
        @media (max-width: 767px) {
            flex-wrap: wrap;
            row-gap: 20px;
        }
    }

}

.range {
    flex: 1;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 767px) {
        flex: 0 0 100%;
    }
    &__text {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 8px;
        height: 18px;
        & span {
            color: #d34085;
            margin-left: 10px;
        }
    }

    &__line {
        display: block;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        height: 6px;
        background: #dbdbdb;
        width: 100%;
        & span{
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 20px;
            display: block;
            width: 0;
            height: 100%;
            background-image: -webkit-gradient(linear,left top,right top,from(var(--color-darken10)),to(var(--color-lighten10)));
            background-image: linear-gradient(90deg,var(--color-darken10),var(--color-lighten10));
            -webkit-box-shadow: inset 0 2px 9px hsla(0,0%,100%,.3),inset 0 -2px 6px rgba(0,0,0,.4),0.6px 1.9px 7px 0 var(--color-alpha);
            box-shadow: inset 0 2px 9px hsla(0,0%,100%,.3),inset 0 -2px 6px rgba(0,0,0,.4),0.6px 1.9px 7px 0 var(--color-alpha);
            position: relative;
            overflow: hidden;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-image: linear-gradient(-45deg,hsla(0,0%,100%,.08) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.08) 0,hsla(0,0%,100%,.08) 75%,transparent 0,transparent);
                z-index: 1;
                background-size: 20px 20px;
                -webkit-animation: move 1.5s linear infinite;
                animation: move 1.5s linear infinite;
                border-radius: 20px;
                overflow: hidden;
            }
        }
    }
}
.btn-back {
    width: 43px;
    height: 43px;
    min-width: 43px;
    min-height: 43px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid rgba(0,0,0,.1);
    cursor: pointer;
    margin-right: 20px;
    cursor: pointer;
    &:hover {
        & svg {
            fill: #929090;
        }
    }
    &:disabled {
        cursor: no-drop;
        & svg {
            fill: #929090;
        }
    }
    & svg {
        fill: #a6a6a6;
    }
    & svg {
        width: 18px;
        fill: #b3b3b391;
        height: 18px;
    }
    
}
.btn-next {
    &.btn {
        font-weight: 500;
        font-size: 16px;
        gap: 3px;
        padding: 11px 16px;
    }
    & svg {
        width: 18px;
        height: 18px;
        fill: #fff;
    }
    & .content {
        gap: 3px;
        align-items: center;
        justify-content: center;
    }
    & .default {
        display: flex;
    }
    & .last-step {
        display: none;
    }
    &.last {
        & .default {
            display: none;
        }
        & .last-step {
            display: flex;
        }
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    to {
        background-position: 20px 20px
    }
}



@keyframes quizTitle {
    0% {
        opacity: 0;
        transform: translate(15px,0);
    }

    100% {
        opacity: 1;
        transform: translate(0,0);
    }
}