.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    padding: 12px 30px;
    min-height: 43px;
    box-shadow: 0 3px 10px 0 var(--color-alpha);
    color: #fff;
    border-radius: 24px;
    border: none;
    line-height: 1.3rem;
    height: fit-content;
    width: fit-content;
    transition: .1s;
    position: relative;
    &_purple {
        background-color: #d34085;
        &:hover {
            background: var(--color-darken10);
        }
        &.is-blicked {
            overflow: hidden;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                height: 100%;
                background: -webkit-gradient(linear,left top,right top,color-stop(10%,hsla(0,0%,100%,.1)),color-stop(20%,hsla(0,0%,100%,.2)),to(hsla(0,0%,100%,.6)));
                background: linear-gradient(90deg,hsla(0,0%,100%,.1) 10%,hsla(0,0%,100%,.2) 20%,hsla(0,0%,100%,.6));
                width: 20px;
                -webkit-transform: skewX(-45deg);
                transform: skewX(-45deg);
                left: -20%;
                -webkit-transition: all .6s ease;
                transition: all .6s ease;
                -webkit-animation-name: blick;
                animation-name: blick;
                -webkit-animation-duration: 6s;
                animation-duration: 6s;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
            }
        }
    }
}



@keyframes blick {
    15%,to {
        left: 110%
    }
}

.agreement__doc-frame {
    width: 100%;
    height: 60vh;
    background: #fff
}

.agreement__links {
    text-align: left
}
