.custom-w  {
    display: flex;
    row-gap: 0;
    column-gap: 10px;
    border-radius: 5px;
    padding: 1rem 1rem;
    color: var(--color-bg-text,#363636);
    cursor: pointer;
    width: 100%;
    & span {
      font-weight: 400;
      cursor: pointer;
    }
  }
  
.custom-w input {
    display: none;
}
.custom-w-btn {
    display: flex;
    column-gap: 10px;
}
.custom-checkbox {
    position: relative;
    display: block;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    transition: .2s;
    background: #e8e8e8;
    border-radius: 4px;
    cursor: pointer;
}
.custom-checkbox_radio {
    border-radius: 50%;
}
.custom-checkbox::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: 0.2s;
    background: url(../img/icons/checked.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.custom-w {
    position: relative;
    &:hover {
        & span {
            &::after {
                box-shadow: 0 1px 3px 0 var(--color-bg-2,rgba(0,0,0,.1))
            }
        }
    }
    & span {
        transition: .1s;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            border: 0.7px solid #e8e8e8;
            border-radius: 5px;
        }
    }
}
.custom-checkbox_radio::before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: 0.2s;
    background: var(--color);
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
}

.custom-w input:checked ~ span::after {
    border: solid 1px rgba(211, 64, 130, 50%);
    box-shadow: none;
}
.custom-w input:checked + .custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}

.custom-w input:checked + .custom-checkbox {
    background: #d34085;
}

.custom-w input:checked + .custom-checkbox_radio {
    box-shadow: 0 2px 6px 0 var(--color-alpha);
    border: 2px solid var(--color);
    background: var(--color-bg-2,#fff);
}

.custom-checkbox {
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
}

.custom-w input:checked+.custom-checkbox::before {
    opacity: 1;
}