.preview {
    display: none;
    overflow: hidden;
    @media (max-width: 1023px) {
        flex-wrap: wrap;
    }
    &.active {
        display: flex;
    }
    &.animated {
        transition-duration: 3s;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        & .preview__content-top {
            animation: previewHeaderAnim 1.5s forwards;
        }
        & .preview__content-title {
            transition: transform 2s, opacity 1s;
            transform: translate(250px,0);
            opacity: 0;
            @media (max-width: 1023px) {
                transform: translate(0,250px);
            }
        }
        & .preview__btn-start {
            transition: transform 2.2s, opacity 1s;
            transform: translate(250px,0);
            opacity: 0; 
            @media (max-width: 1023px) {
                transform: translate(0,250px);
            }
        }
        & .preview__pic {
            transition: transform 1s;
            transform: translate(-100%,0);
            @media (max-width: 1023px) {
                transform: translate(0, -100%);
            }
        }

    }
    &__pic {
        flex: 0 0 60%;
        height: 100vh;
        @media (max-width: 1023px) {
            flex: 0 0 100%;
            max-height: 400px;
        }
        @media (max-width: 767px) {
            max-height: 200px;
        }
        & img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    &__content-top {
        padding: 1rem 2rem;
        border-bottom: solid 1px var(--color-bg-2,rgba(0,0,0,.1));
        & .logo {
            & span {
                display: block;
                margin-top: 10px;
                font-size: 13px;
                @media (max-width: 539px) {
                    font-size: 11px;
                }
            }
            & img {
                width: 100%;
                max-width: 177px;
                @media (max-width: 539px) {
                    width: 140px;
                }
            }

        }
    }

    &__content-body {
        padding: 1rem 2rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__content-title {
        font-size: 30px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        color: var(--color-bg-text,#020202);
        margin-bottom: 1rem;
        @media (max-width: 539px) {
            font-size: 22px;
        }
    }
    &__btn-start {
        &.btn {
            padding: 17px 24px;
            border-radius: 40px;
            @media (max-width: 539px) {
                width: 100%;
            }
        }
    }

}

@keyframes previewHeaderAnim {
    0% {
        opacity: 1;
        transform: translate(0,0);
    }

    to {
        transform: translate(0,-100px);
        opacity: 0;
    }
}