:root {
    --light-grey-blue: #b1b5be;
    --gray: #e2e2e2;
    --dark-grey-blue: #2e2e54;
    --light-blue-grey: #d2d4d8;
    --white-two: #f7f7f7;
    --grey-blue: #69748c;
    --black: #000;
    --color-danger: #d10a34;
    --color-success: #52bc77;
    --color-danger-light: rgba(209,10,52,0.05);
    --color-success-light: rgba(59,173,75,0.05)
    --color-bg-2: #e5e5e5;

    --color: #d34085;
    --color-lighten: #e693ba;
    --color-lighten10: #dd699f;
    --color-lighten2: #f5d1e2;
    --color-darken: #8d2053;
    --color-darken10: #b72a6b;
    --color-alpha: rgba(211, 64, 133, 0.5);
    --color-alpha2: rgba(211, 64, 133, 0.2);
    --color-alpha3: rgba(211, 64, 133, 0.05);
    --color-text: #ffffff;
    --color-text2: #d34085;
    --gradient-main: 331deg, rgb(141, 32, 83), rgb(230, 147, 186);
    --color-primary-text-button: #ffffff;
}