@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;

}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  &.fixed {
    overflow-y: hidden;
  }
}
input, button, textarea {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: #ffffff;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;

}
a {
  color: #000000;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  --width__nav-item: 0px;
}
body {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
html,
body {
  height: 100%;
}

.wrapper {
  position: relative;
}
.container {
  max-width: 870px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}





input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}